@tailwind base;
@tailwind components;
@tailwind utilities;

/* codemirror reset styles */
.CodeMirror {
  height: auto !important;
  /* glassmorphism for codemirror */
  background: rgba(28, 27, 27, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.CodeMirror-code {
  padding: 1em;
}
